body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: sans-serif;

}

.container { 
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: auto;
    height: auto;
    justify-items: center;
    padding: 20px
    
   
}

img{
    display: block; 
    margin: 0 auto;
    width: 45px;  
    height: 45px;  
   
}

hr {
    width: 100%;
    height: 1px;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 0%;
      
}

h3 {
   text-align: center; 
   font-weight: 900
}

h6 {
    text-align: center;
    font-style:italic;
    margin-top: 0%;
}

ul {
    list-style: none; 
    padding-left: 0%;
}

li {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 8px;
}